*,
::after,
::before {
    box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');

html {
    font-size: 100%; /*16px*/
    /* scroll-behavior: smooth; */
}

:root {
    /* colors */
    /* primary */
    --primary-100: #ded8e6;
    --primary-200: #bdb0cd;
    --primary-300: #9c89b4;
    --primary-400: #7b619b;
    --primary-500: #5a3a82; /* KINGFISHER DAISY */
    --primary-600: #482e68;
    --primary-700: #36234e;
    --primary-800: #241734;
    --primary-900: #120c1a;

    /* grey */
    --grey-50: #fafaf9;
    --grey-100: #f5f5f4;
    --grey-200: #e7e5e4;
    --grey-300: #d6d3d1;
    --grey-400: #a8a29e;
    --grey-500: #78716c;
    --grey-600: #57534e;
    --grey-700: #44403c;
    --grey-800: #292524;
    --grey-900: #1c1917;

    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;

    /* fonts */
    --headingFont: 'Spectral', serif;
    --bodyFont: 'Karla', sans-serif;
    --smallText: 0.7em;

    /* other vars */
    --backgroundColor: var(--grey-800);
    --textColor: var(--grey-50);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;

    /* box shadowing */
    --shadow-1: 0 1px 3px 0 rgba(156, 137, 180, 0.1),
        0 1px 2px 0 rgba(156, 137, 180, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(156, 137, 180, 0.1),
        0 2px 4px -1px rgba(156, 137, 180, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(156, 137, 180, 0.1),
        0 4px 6px -2px rgba(156, 137, 180, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(156, 137, 180, 0.1),
        0 10px 10px -5px rgba(156, 137, 180, 0.04);
}

body {
    background: var(--backgroundColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    margin-bottom: 1.5rem;
    /* max-width: 45em; */
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
}

h1 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold;
    /* text-align: center; */
    box-shadow: var(--shadow-4);
    padding: 0 0 5px 10px;
    color: var(--primary-200);
}

h2 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.5rem;
}

h5 {
    font-size: 0.25rem;
}

small,
.text-small {
    font-size: var(--smallText);
}

a {
    text-decoration: none;
    color: var(--textColor);
}

ul {
    list-style-type: none;
    padding: 0;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* buttons */
.btn {
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary-500);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
}

.btn:hover {
    background-color: var(--primary-700);
    box-shadow: var(--shadow-2);
}

.btn-hipster {
    color: var(--primary-500);
    background-color: var(--primary-200);
}

.btn-hipster:hover {
    color: var(--primary-200);
    background-color: var(--primary-700);
}

.btn-block {
    width: 100%;
}

/* title */
.title {
    text-align: center;
}

.title h2 {
    margin-bottom: 0.25rem;
}

.title-underline {
    background: var(--primary-500);
    width: 7rem;
    height: 0.25em;
    margin: 0 auto;
}

/* 
=============== Navbar =============== 
*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    /* position: fixed; */
}
.nav-center {
    width: 90vw;
    max-width: var(--max-width);
    background: linear-gradient(to top, var(--primary-800), var(--primary-300));
    border-radius: var(--borderRadius);
}
.nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .nav-header img {
    height: 3.7rem;
    border-radius: var(--borderRadius);
}
.nav-logo {
    display: flex;
    align-items: center;
} */
.nav-btn {
    padding: 0.15rem 0.75rem;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.nav-btn i {
    font-size: 2rem;
    height: 30px;
    width: 30px;
    align-self: center;
}
.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.show-links {
    height: 430px;
}
.nav-link {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: var(--grey-50);
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid var(--grey-500);
    transition: var(--transition);
    margin: 0;
}
.nav-link:hover {
    color: var(--primary-300);
    transition: var(--transition);
}

.contact-link a {
    padding: 0.15rem 1rem;
}

.contact-link .btn-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}
.contact-link:hover {
    border-bottom: none;
}

/* 
=============== Modal window =============== 
*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -999;
}
/* OPEN/CLOSE MODAL */
.open-modal {
    visibility: visible;
    z-index: 999;
}
.modal-container {
    background: var(--primary-800);
    border-radius: var(--radius);
    width: 90vw;
    height: 30vh;
    max-width: var(--fixed-width);
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--borderRadius);
}
.contact-info-container div {
    margin-top: 5px;
    width: 200px;
    display: flex;
    align-items: center;
}
.persinfo {
    margin-bottom: 15px;
}
#myname {
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
}
#position {
    color: var(--grey-400);
}
.icon-contact {
    margin-right: 10px;
    font-size: 20px;
    width: 25px;
}
.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--red-dark);
    cursor: pointer;
}
.close-btn:hover {
    color: var(--red-light);
    transform: scale(1.3);
}

@media screen and (min-width: 992px) {
    /* navigation */
    .nav-btn {
        display: none;
    }
    .navbar {
        height: 6rem;
    }
    .nav-center {
        display: flex;
        align-items: center;
    }
    .nav-header {
        height: auto;
        margin-right: 2rem;
    }
    .nav-links {
        height: auto;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .nav-link {
        padding: 0;
        border-top: none;
        margin: 15px;
    }
    .contact-link {
        margin-left: auto;
    }
    .btn-wrapper {
        display: flex;
        align-content: center;
        align-items: center;
    }
}

/* 
=============== Main =============== 
*/
main {
    display: flex;
    justify-content: center;
}
main .container {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    width: 100%;
}

main .container .section-container {
    box-shadow: var(--shadow-2);
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--primary-200);
}

main .container .section-container h2 {
    margin-top: 10px;
    font-family: var(--bodyFont);
    border-bottom: 1px solid gray;
}

/* about me */
.about-container {
    display: flex;
    justify-content: space-between;
}
.about-container .avatar img {
    height: 225px;
    border-radius: var(--borderRadius);
}
.about-container .contact-info {
    width: 100%;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    color: var(--primary-200);
}
/* work experience */

/* education */
.education {
    padding-bottom: 15px;
}

/* skills */
.skills-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.skills-container div {
    margin-right: 50px;
}
.skills-container div ul {
    margin: 0;
}
.skills-container .skillIcons {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.skills-container .devIcon {
    font-size: 15px;
}

/* projects */
.liLink {
    padding-left: 15px;
}
code {
    color: var(--primary-100);
    color: var(--grey-400);
    font-style: oblique;
}
pre {
    height: 135px;
    margin: 0;
}
/* 
=============== Footer =============== 
*/
footer {
    display: flex;
    justify-content: center;
}
footer .footer-content {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: var(--max-width);
    box-shadow: var(--shadow-4);
    border-radius: var(--borderRadius);
    background: linear-gradient(
        to bottom,
        var(--primary-800),
        var(--primary-300)
    );
}
.copyright {
    font-size: 18px;
    font-weight: bold;
}
.gitlink {
    font-size: 45px;
}
.logo {
    display: flex;
}
.logo img {
    height: 100px;
    width: 100px;
}

/* general */
.a-link:hover {
    color: var(--primary-300);
    transition: var(--transition);
}
/* to top button */
.top {
    font-size: 40px;
    color: var(--white);
    position: fixed;
    bottom: 50px;
    right: 75px;
    opacity: 0;
}
.top:hover {
    color: var(--primary-200);
}
.top-show {
    opacity: 1;
}
